<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div class="board">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>번호</th>
                <th>분류</th>
                <th>제목</th>
                <th>작성자</th>
                <th>날짜</th>
                <th>조회수</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="writing : ${writings}">
                    <td th:text="${writing.id}"></td>
                    <td th:text="${writing.category}"></td>
                    <td><a href="viewWriting.html" th:href="@{/board/{writingId}(writingId=${writing.id})}" th:text="${writing.header}">header</a></td>
                    <td th:text="${writing.member.name}"></td>
                    <td th:text="${writing.lastModifiedTime}"></td>
                    <td th:text="${writing.viewCount}"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <ul class="pagination">
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
        </ul>
    </div>
    <a class="btn btn-primary" href="/board/create">글쓰기</a>
    <div th:replace="fragments/footer :: footer"/>
</div>
</body>
</html>